<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>bullet</key>
	<string>bullet.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>snBA_Virama</key>
	<string>snB_A__V_irama.glif</string>
	<key>snBA_mI</key>
	<string>snB_A__mI_.glif</string>
	<key>snBA_mII</key>
	<string>snB_A__mI_I_.glif</string>
	<key>snBA_mU</key>
	<string>snB_A__mU_.glif</string>
	<key>snBA_mUU</key>
	<string>snB_A__mU_U_.glif</string>
	<key>snBHA_Virama</key>
	<string>snB_H_A__V_irama.glif</string>
	<key>snBHA_mU</key>
	<string>snB_H_A__mU_.glif</string>
	<key>snBHA_mUU</key>
	<string>snB_H_A__mU_U_.glif</string>
	<key>snBH_RA</key>
	<string>snB_H__R_A_.glif</string>
	<key>snCA_Virama</key>
	<string>snC_A__V_irama.glif</string>
	<key>snCA_mI</key>
	<string>snC_A__mI_.glif</string>
	<key>snCA_mII</key>
	<string>snC_A__mI_I_.glif</string>
	<key>snCA_mU</key>
	<string>snC_A__mU_.glif</string>
	<key>snCA_mUU</key>
	<string>snC_A__mU_U_.glif</string>
	<key>snCHA_Virama</key>
	<string>snC_H_A__V_irama.glif</string>
	<key>snCHA_mI</key>
	<string>snC_H_A__mI_.glif</string>
	<key>snCHA_mII</key>
	<string>snC_H_A__mI_I_.glif</string>
	<key>snCHA_mU</key>
	<string>snC_H_A__mU_.glif</string>
	<key>snCHA_mUU</key>
	<string>snC_H_A__mU_U_.glif</string>
	<key>snCH_RA</key>
	<string>snC_H__R_A_.glif</string>
	<key>snC_RA</key>
	<string>snC__R_A_.glif</string>
	<key>snDA_Virama</key>
	<string>snD_A__V_irama.glif</string>
	<key>snDA_mU</key>
	<string>snD_A__mU_.glif</string>
	<key>snDA_mUU</key>
	<string>snD_A__mU_U_.glif</string>
	<key>snDDA_Virama</key>
	<string>snD_D_A__V_irama.glif</string>
	<key>snDDA_mI</key>
	<string>snD_D_A__mI_.glif</string>
	<key>snDDA_mII</key>
	<string>snD_D_A__mI_I_.glif</string>
	<key>snDDA_mU</key>
	<string>snD_D_A__mU_.glif</string>
	<key>snDDA_mUU</key>
	<string>snD_D_A__mU_U_.glif</string>
	<key>snDDHA_Virama</key>
	<string>snD_D_H_A__V_irama.glif</string>
	<key>snDDHA_mI</key>
	<string>snD_D_H_A__mI_.glif</string>
	<key>snDDHA_mII</key>
	<string>snD_D_H_A__mI_I_.glif</string>
	<key>snDDHA_mU</key>
	<string>snD_D_H_A__mU_.glif</string>
	<key>snDDHA_mUU</key>
	<string>snD_D_H_A__mU_U_.glif</string>
	<key>snDDH_RA</key>
	<string>snD_D_H__R_A_.glif</string>
	<key>snDD_RA_mI</key>
	<string>snD_D__R_A__mI_.glif</string>
	<key>snDD_RA_mII</key>
	<string>snD_D__R_A__mI_I_.glif</string>
	<key>snDHA_Virama</key>
	<string>snD_H_A__V_irama.glif</string>
	<key>snDHA_mI</key>
	<string>snD_H_A__mI_.glif</string>
	<key>snDHA_mII</key>
	<string>snD_H_A__mI_I_.glif</string>
	<key>snDHA_mU</key>
	<string>snD_H_A__mU_.glif</string>
	<key>snDHA_mUU</key>
	<string>snD_H_A__mU_U_.glif</string>
	<key>snD_RA</key>
	<string>snD__R_A_.glif</string>
	<key>snFA_Virama</key>
	<string>snF_A__V_irama.glif</string>
	<key>snFA_mU</key>
	<string>snF_A__mU_.glif</string>
	<key>snFA_mUU</key>
	<string>snF_A__mU_U_.glif</string>
	<key>snF_RA</key>
	<string>snF__R_A_.glif</string>
	<key>snGA_Virama</key>
	<string>snG_A__V_irama.glif</string>
	<key>snGA_mU</key>
	<string>snG_A__mU_.glif</string>
	<key>snGA_mUU</key>
	<string>snG_A__mU_U_.glif</string>
	<key>snGHA_Virama</key>
	<string>snG_H_A__V_irama.glif</string>
	<key>snGHA_mU</key>
	<string>snG_H_A__mU_.glif</string>
	<key>snGHA_mUU</key>
	<string>snG_H_A__mU_U_.glif</string>
	<key>snGH_RA</key>
	<string>snG_H__R_A_.glif</string>
	<key>snG_RA</key>
	<string>snG__R_A_.glif</string>
	<key>snHA_Virama</key>
	<string>snH_A__V_irama.glif</string>
	<key>snHA_mU</key>
	<string>snH_A__mU_.glif</string>
	<key>snHA_mUU</key>
	<string>snH_A__mU_U_.glif</string>
	<key>snH_RA</key>
	<string>snH__R_A_.glif</string>
	<key>snJA_Virama</key>
	<string>snJ_A__V_irama.glif</string>
	<key>snJA_mI</key>
	<string>snJ_A__mI_.glif</string>
	<key>snJA_mII</key>
	<string>snJ_A__mI_I_.glif</string>
	<key>snJA_mU</key>
	<string>snJ_A__mU_.glif</string>
	<key>snJA_mUU</key>
	<string>snJ_A__mU_U_.glif</string>
	<key>snJHA_Virama</key>
	<string>snJ_H_A__V_irama.glif</string>
	<key>snJHA_mI</key>
	<string>snJ_H_A__mI_.glif</string>
	<key>snJHA_mII</key>
	<string>snJ_H_A__mI_I_.glif</string>
	<key>snJHA_mU</key>
	<string>snJ_H_A__mU_.glif</string>
	<key>snJHA_mUU</key>
	<string>snJ_H_A__mU_U_.glif</string>
	<key>snJNYA_Virama</key>
	<string>snJ_N_Y_A__V_irama.glif</string>
	<key>snJNYA_mU</key>
	<string>snJ_N_Y_A__mU_.glif</string>
	<key>snJNYA_mUU</key>
	<string>snJ_N_Y_A__mU_U_.glif</string>
	<key>snJNY_RA</key>
	<string>snJ_N_Y__R_A_.glif</string>
	<key>snJ_RA</key>
	<string>snJ__R_A_.glif</string>
	<key>snKA_Virama</key>
	<string>snK_A__V_irama.glif</string>
	<key>snKA_mU</key>
	<string>snK_A__mU_.glif</string>
	<key>snKA_mUU</key>
	<string>snK_A__mU_U_.glif</string>
	<key>snKHA_Virama</key>
	<string>snK_H_A__V_irama.glif</string>
	<key>snKHA_mI</key>
	<string>snK_H_A__mI_.glif</string>
	<key>snKHA_mII</key>
	<string>snK_H_A__mI_I_.glif</string>
	<key>snKHA_mU</key>
	<string>snK_H_A__mU_.glif</string>
	<key>snKHA_mUU</key>
	<string>snK_H_A__mU_U_.glif</string>
	<key>snKH_RA</key>
	<string>snK_H__R_A_.glif</string>
	<key>snK_RA</key>
	<string>snK__R_A_.glif</string>
	<key>snK_SSA</key>
	<string>snK__S_S_A_.glif</string>
	<key>snK_SSA_Virama</key>
	<string>snK__S_S_A__V_irama.glif</string>
	<key>snK_SSA_mU</key>
	<string>snK__S_S_A__mU_.glif</string>
	<key>snK_SSA_mUU</key>
	<string>snK__S_S_A__mU_U_.glif</string>
	<key>snK_SS_RA</key>
	<string>snK__S_S__R_A_.glif</string>
	<key>snLA_Virama</key>
	<string>snL_A__V_irama.glif</string>
	<key>snLA_mI</key>
	<string>snL_A__mI_.glif</string>
	<key>snLA_mU</key>
	<string>snL_A__mU_.glif</string>
	<key>snLA_mUU</key>
	<string>snL_A__mU_U_.glif</string>
	<key>snLLA_Virama</key>
	<string>snL_L_A__V_irama.glif</string>
	<key>snLLA_mI</key>
	<string>snL_L_A__mI_.glif</string>
	<key>snLLA_mII</key>
	<string>snL_L_A__mI_I_.glif</string>
	<key>snLLA_mU</key>
	<string>snL_L_A__mU_.glif</string>
	<key>snLLA_mUU</key>
	<string>snL_L_A__mU_U_.glif</string>
	<key>snMA_Virama</key>
	<string>snM_A__V_irama.glif</string>
	<key>snMA_mI</key>
	<string>snM_A__mI_.glif</string>
	<key>snMA_mII</key>
	<string>snM_A__mI_I_.glif</string>
	<key>snMA_mU</key>
	<string>snM_A__mU_.glif</string>
	<key>snMA_mUU</key>
	<string>snM_A__mU_U_.glif</string>
	<key>snMBA_Virama</key>
	<string>snM_B_A__V_irama.glif</string>
	<key>snMBA_mI</key>
	<string>snM_B_A__mI_.glif</string>
	<key>snMBA_mII</key>
	<string>snM_B_A__mI_I_.glif</string>
	<key>snMBA_mU</key>
	<string>snM_B_A__mU_.glif</string>
	<key>snMBA_mUU</key>
	<string>snM_B_A__mU_U_.glif</string>
	<key>snM_RA</key>
	<string>snM__R_A_.glif</string>
	<key>snNA_Virama</key>
	<string>snN_A__V_irama.glif</string>
	<key>snNA_mU</key>
	<string>snN_A__mU_.glif</string>
	<key>snNA_mUU</key>
	<string>snN_A__mU_U_.glif</string>
	<key>snNDA_Virama</key>
	<string>snN_D_A__V_irama.glif</string>
	<key>snNDA_mU</key>
	<string>snN_D_A__mU_.glif</string>
	<key>snNDA_mUU</key>
	<string>snN_D_A__mU_U_.glif</string>
	<key>snND_RA</key>
	<string>snN_D__R_A_.glif</string>
	<key>snNGA_Virama</key>
	<string>snN_G_A__V_irama.glif</string>
	<key>snNGA_mI</key>
	<string>snN_G_A__mI_.glif</string>
	<key>snNGA_mII</key>
	<string>snN_G_A__mI_I_.glif</string>
	<key>snNGA_mU</key>
	<string>snN_G_A__mU_.glif</string>
	<key>snNGA_mUU</key>
	<string>snN_G_A__mU_U_.glif</string>
	<key>snNNA_Virama</key>
	<string>snN_N_A__V_irama.glif</string>
	<key>snNNA_mI</key>
	<string>snN_N_A__mI_.glif</string>
	<key>snNNA_mU</key>
	<string>snN_N_A__mU_.glif</string>
	<key>snNNA_mUU</key>
	<string>snN_N_A__mU_U_.glif</string>
	<key>snNNDDA_Virama</key>
	<string>snN_N_D_D_A__V_irama.glif</string>
	<key>snNNDDA_mI</key>
	<string>snN_N_D_D_A__mI_.glif</string>
	<key>snNNDDA_mII</key>
	<string>snN_N_D_D_A__mI_I_.glif</string>
	<key>snNNDDA_mU</key>
	<string>snN_N_D_D_A__mU_.glif</string>
	<key>snNNDDA_mUU</key>
	<string>snN_N_D_D_A__mU_U_.glif</string>
	<key>snNNGA_Virama</key>
	<string>snN_N_G_A__V_irama.glif</string>
	<key>snNNGA_mU</key>
	<string>snN_N_G_A__mU_.glif</string>
	<key>snNNGA_mUU</key>
	<string>snN_N_G_A__mU_U_.glif</string>
	<key>snNNG_RA</key>
	<string>snN_N_G__R_A_.glif</string>
	<key>snNN_RA</key>
	<string>snN_N__R_A_.glif</string>
	<key>snNYA_Virama</key>
	<string>snN_Y_A__V_irama.glif</string>
	<key>snNYA_mU</key>
	<string>snN_Y_A__mU_.glif</string>
	<key>snNYA_mUU</key>
	<string>snN_Y_A__mU_U_.glif</string>
	<key>snNYJA_Virama</key>
	<string>snN_Y_J_A__V_irama.glif</string>
	<key>snNYJA_mI</key>
	<string>snN_Y_J_A__mI_.glif</string>
	<key>snNYJA_mII</key>
	<string>snN_Y_J_A__mI_I_.glif</string>
	<key>snNYJA_mU</key>
	<string>snN_Y_J_A__mU_.glif</string>
	<key>snNYJA_mUU</key>
	<string>snN_Y_J_A__mU_U_.glif</string>
	<key>snNYJ_RA</key>
	<string>snN_Y_J__R_A_.glif</string>
	<key>snNY_RA</key>
	<string>snN_Y__R_A_.glif</string>
	<key>snN_RA</key>
	<string>snN__R_A_.glif</string>
	<key>snPA_Virama</key>
	<string>snP_A__V_irama.glif</string>
	<key>snPA_mU</key>
	<string>snP_A__mU_.glif</string>
	<key>snPA_mUU</key>
	<string>snP_A__mU_U_.glif</string>
	<key>snPHA_Virama</key>
	<string>snP_H_A__V_irama.glif</string>
	<key>snPHA_mI</key>
	<string>snP_H_A__mI_.glif</string>
	<key>snPHA_mII</key>
	<string>snP_H_A__mI_I_.glif</string>
	<key>snPHA_mU</key>
	<string>snP_H_A__mU_.glif</string>
	<key>snPHA_mUU</key>
	<string>snP_H_A__mU_U_.glif</string>
	<key>snRA_Virama</key>
	<string>snR_A__V_irama.glif</string>
	<key>snRA_mAAE</key>
	<string>snR_A__mA_A_E_.glif</string>
	<key>snRA_mAE</key>
	<string>snR_A__mA_E_.glif</string>
	<key>snRA_mI</key>
	<string>snR_A__mI_.glif</string>
	<key>snRA_mII</key>
	<string>snR_A__mI_I_.glif</string>
	<key>snRA_mU</key>
	<string>snR_A__mU_.glif</string>
	<key>snRA_mUU</key>
	<string>snR_A__mU_U_.glif</string>
	<key>snRAc2</key>
	<string>snR_A_c2.glif</string>
	<key>snReph</key>
	<string>snR_eph.glif</string>
	<key>snSA_Virama</key>
	<string>snS_A__V_irama.glif</string>
	<key>snSA_mU</key>
	<string>snS_A__mU_.glif</string>
	<key>snSA_mUU</key>
	<string>snS_A__mU_U_.glif</string>
	<key>snSHA_Virama</key>
	<string>snS_H_A__V_irama.glif</string>
	<key>snSHA_mU</key>
	<string>snS_H_A__mU_.glif</string>
	<key>snSHA_mUU</key>
	<string>snS_H_A__mU_U_.glif</string>
	<key>snSH_RA</key>
	<string>snS_H__R_A_.glif</string>
	<key>snSH_RA_mI</key>
	<string>snS_H__R_A__mI_.glif</string>
	<key>snSH_RA_mII</key>
	<string>snS_H__R_A__mI_I_.glif</string>
	<key>snSSA_Virama</key>
	<string>snS_S_A__V_irama.glif</string>
	<key>snSSA_mU</key>
	<string>snS_S_A__mU_.glif</string>
	<key>snSSA_mUU</key>
	<string>snS_S_A__mU_U_.glif</string>
	<key>snSS_RA</key>
	<string>snS_S__R_A_.glif</string>
	<key>snS_RA</key>
	<string>snS__R_A_.glif</string>
	<key>snTA_Virama</key>
	<string>snT_A__V_irama.glif</string>
	<key>snTA_mU</key>
	<string>snT_A__mU_.glif</string>
	<key>snTA_mUU</key>
	<string>snT_A__mU_U_.glif</string>
	<key>snTHA_Virama</key>
	<string>snT_H_A__V_irama.glif</string>
	<key>snTHA_mI</key>
	<string>snT_H_A__mI_.glif</string>
	<key>snTHA_mII</key>
	<string>snT_H_A__mI_I_.glif</string>
	<key>snTHA_mU</key>
	<string>snT_H_A__mU_.glif</string>
	<key>snTHA_mUU</key>
	<string>snT_H_A__mU_U_.glif</string>
	<key>snTTA_Virama</key>
	<string>snT_T_A__V_irama.glif</string>
	<key>snTTA_mI</key>
	<string>snT_T_A__mI_.glif</string>
	<key>snTTA_mII</key>
	<string>snT_T_A__mI_I_.glif</string>
	<key>snTTA_mU</key>
	<string>snT_T_A__mU_.glif</string>
	<key>snTTA_mUU</key>
	<string>snT_T_A__mU_U_.glif</string>
	<key>snTTHA_Virama</key>
	<string>snT_T_H_A__V_irama.glif</string>
	<key>snTTHA_mI</key>
	<string>snT_T_H_A__mI_.glif</string>
	<key>snTTHA_mII</key>
	<string>snT_T_H_A__mI_I_.glif</string>
	<key>snTTHA_mU</key>
	<string>snT_T_H_A__mU_.glif</string>
	<key>snTTHA_mUU</key>
	<string>snT_T_H_A__mU_U_.glif</string>
	<key>snTTH_RA</key>
	<string>snT_T_H__R_A_.glif</string>
	<key>snTT_RA</key>
	<string>snT_T__R_A_.glif</string>
	<key>snTT_RA_mI</key>
	<string>snT_T__R_A__mI_.glif</string>
	<key>snTT_RA_mII</key>
	<string>snT_T__R_A__mI_I_.glif</string>
	<key>snT_RA</key>
	<string>snT__R_A_.glif</string>
	<key>snVA_Virama</key>
	<string>snV_A__V_irama.glif</string>
	<key>snVA_mI</key>
	<string>snV_A__mI_.glif</string>
	<key>snVA_mII</key>
	<string>snV_A__mI_I_.glif</string>
	<key>snVA_mU</key>
	<string>snV_A__mU_.glif</string>
	<key>snVA_mUU</key>
	<string>snV_A__mU_U_.glif</string>
	<key>snV_RA</key>
	<string>snV__R_A_.glif</string>
	<key>snYA_Virama</key>
	<string>snY_A__V_irama.glif</string>
	<key>snYA_mU</key>
	<string>snY_A__mU_.glif</string>
	<key>snYA_mUU</key>
	<string>snY_A__mU_U_.glif</string>
	<key>snYAc2</key>
	<string>snY_A_c2.glif</string>
	<key>snY_RA</key>
	<string>snY__R_A_.glif</string>
	<key>snmAA_Virama</key>
	<string>snmA_A__V_irama.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>uni0D82</key>
	<string>uni0D_82.glif</string>
	<key>uni0D83</key>
	<string>uni0D_83.glif</string>
	<key>uni0D85</key>
	<string>uni0D_85.glif</string>
	<key>uni0D86</key>
	<string>uni0D_86.glif</string>
	<key>uni0D87</key>
	<string>uni0D_87.glif</string>
	<key>uni0D88</key>
	<string>uni0D_88.glif</string>
	<key>uni0D89</key>
	<string>uni0D_89.glif</string>
	<key>uni0D8A</key>
	<string>uni0D_8A_.glif</string>
	<key>uni0D8B</key>
	<string>uni0D_8B_.glif</string>
	<key>uni0D8C</key>
	<string>uni0D_8C_.glif</string>
	<key>uni0D8D</key>
	<string>uni0D_8D_.glif</string>
	<key>uni0D8E</key>
	<string>uni0D_8E_.glif</string>
	<key>uni0D8F</key>
	<string>uni0D_8F_.glif</string>
	<key>uni0D90</key>
	<string>uni0D_90.glif</string>
	<key>uni0D91</key>
	<string>uni0D_91.glif</string>
	<key>uni0D92</key>
	<string>uni0D_92.glif</string>
	<key>uni0D93</key>
	<string>uni0D_93.glif</string>
	<key>uni0D94</key>
	<string>uni0D_94.glif</string>
	<key>uni0D95</key>
	<string>uni0D_95.glif</string>
	<key>uni0D96</key>
	<string>uni0D_96.glif</string>
	<key>uni0D9A</key>
	<string>uni0D_9A_.glif</string>
	<key>uni0D9B</key>
	<string>uni0D_9B_.glif</string>
	<key>uni0D9C</key>
	<string>uni0D_9C_.glif</string>
	<key>uni0D9D</key>
	<string>uni0D_9D_.glif</string>
	<key>uni0D9E</key>
	<string>uni0D_9E_.glif</string>
	<key>uni0D9F</key>
	<string>uni0D_9F_.glif</string>
	<key>uni0DA0</key>
	<string>uni0D_A_0.glif</string>
	<key>uni0DA1</key>
	<string>uni0D_A_1.glif</string>
	<key>uni0DA2</key>
	<string>uni0D_A_2.glif</string>
	<key>uni0DA3</key>
	<string>uni0D_A_3.glif</string>
	<key>uni0DA4</key>
	<string>uni0D_A_4.glif</string>
	<key>uni0DA5</key>
	<string>uni0D_A_5.glif</string>
	<key>uni0DA6</key>
	<string>uni0D_A_6.glif</string>
	<key>uni0DA7</key>
	<string>uni0D_A_7.glif</string>
	<key>uni0DA8</key>
	<string>uni0D_A_8.glif</string>
	<key>uni0DA9</key>
	<string>uni0D_A_9.glif</string>
	<key>uni0DAA</key>
	<string>uni0D_A_A_.glif</string>
	<key>uni0DAB</key>
	<string>uni0D_A_B_.glif</string>
	<key>uni0DAC</key>
	<string>uni0D_A_C_.glif</string>
	<key>uni0DAD</key>
	<string>uni0D_A_D_.glif</string>
	<key>uni0DAE</key>
	<string>uni0D_A_E_.glif</string>
	<key>uni0DAF</key>
	<string>uni0D_A_F_.glif</string>
	<key>uni0DB0</key>
	<string>uni0D_B_0.glif</string>
	<key>uni0DB1</key>
	<string>uni0D_B_1.glif</string>
	<key>uni0DB3</key>
	<string>uni0D_B_3.glif</string>
	<key>uni0DB4</key>
	<string>uni0D_B_4.glif</string>
	<key>uni0DB5</key>
	<string>uni0D_B_5.glif</string>
	<key>uni0DB6</key>
	<string>uni0D_B_6.glif</string>
	<key>uni0DB7</key>
	<string>uni0D_B_7.glif</string>
	<key>uni0DB8</key>
	<string>uni0D_B_8.glif</string>
	<key>uni0DB9</key>
	<string>uni0D_B_9.glif</string>
	<key>uni0DBA</key>
	<string>uni0D_B_A_.glif</string>
	<key>uni0DBB</key>
	<string>uni0D_B_B_.glif</string>
	<key>uni0DBD</key>
	<string>uni0D_B_D_.glif</string>
	<key>uni0DC0</key>
	<string>uni0D_C_0.glif</string>
	<key>uni0DC1</key>
	<string>uni0D_C_1.glif</string>
	<key>uni0DC2</key>
	<string>uni0D_C_2.glif</string>
	<key>uni0DC3</key>
	<string>uni0D_C_3.glif</string>
	<key>uni0DC4</key>
	<string>uni0D_C_4.glif</string>
	<key>uni0DC5</key>
	<string>uni0D_C_5.glif</string>
	<key>uni0DC6</key>
	<string>uni0D_C_6.glif</string>
	<key>uni0DCA</key>
	<string>uni0D_C_A_.glif</string>
	<key>uni0DCF</key>
	<string>uni0D_C_F_.glif</string>
	<key>uni0DD0</key>
	<string>uni0D_D_0.glif</string>
	<key>uni0DD1</key>
	<string>uni0D_D_1.glif</string>
	<key>uni0DD2</key>
	<string>uni0D_D_2.glif</string>
	<key>uni0DD3</key>
	<string>uni0D_D_3.glif</string>
	<key>uni0DD4</key>
	<string>uni0D_D_4.glif</string>
	<key>uni0DD6</key>
	<string>uni0D_D_6.glif</string>
	<key>uni0DD8</key>
	<string>uni0D_D_8.glif</string>
	<key>uni0DD9</key>
	<string>uni0D_D_9.glif</string>
	<key>uni0DDA</key>
	<string>uni0D_D_A_.glif</string>
	<key>uni0DDB</key>
	<string>uni0D_D_B_.glif</string>
	<key>uni0DDC</key>
	<string>uni0D_D_C_.glif</string>
	<key>uni0DDD</key>
	<string>uni0D_D_D_.glif</string>
	<key>uni0DDE</key>
	<string>uni0D_D_E_.glif</string>
	<key>uni0DDF</key>
	<string>uni0D_D_F_.glif</string>
	<key>uni0DF2</key>
	<string>uni0D_F_2.glif</string>
	<key>uni0DF3</key>
	<string>uni0D_F_3.glif</string>
	<key>uni0DF4</key>
	<string>uni0D_F_4.glif</string>
	<key>uni200C</key>
	<string>uni200C_.glif</string>
	<key>uni200D</key>
	<string>uni200D_.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
</dict>
</plist>
