<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<true/>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>25BA55F5-DD3E-4682-A696-ADF7D9496427</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<array>
		<string>uni0D85</string>
		<string>uni0D86</string>
		<string>uni0D87</string>
		<string>uni0D88</string>
		<string>uni0D89</string>
		<string>uni0D8A</string>
		<string>uni0D8B</string>
		<string>uni0D8C</string>
		<string>uni0D8D</string>
		<string>uni0D8E</string>
		<string>uni0D8F</string>
		<string>uni0D90</string>
		<string>uni0D91</string>
		<string>uni0D92</string>
		<string>uni0D93</string>
		<string>uni0D94</string>
		<string>uni0D95</string>
		<string>uni0D96</string>
		<string>uni0DCF</string>
		<string>uni0DD0</string>
		<string>uni0DD1</string>
		<string>uni0DD2</string>
		<string>uni0DD3</string>
		<string>uni0DD4</string>
		<string>uni0DD6</string>
		<string>uni0DD8</string>
		<string>uni0DF2</string>
		<string>uni0DDF</string>
		<string>uni0DF3</string>
		<string>uni0DD9</string>
		<string>uni0DDA</string>
		<string>uni0DDB</string>
		<string>uni0DDC</string>
		<string>uni0DDD</string>
		<string>uni0DDE</string>
		<string>uni0D9A</string>
		<string>uni0D9B</string>
		<string>uni0D9C</string>
		<string>uni0D9D</string>
		<string>uni0D9E</string>
		<string>uni0D9F</string>
		<string>uni0DA0</string>
		<string>uni0DA1</string>
		<string>uni0DA2</string>
		<string>uni0DA3</string>
		<string>uni0DA4</string>
		<string>uni0DA5</string>
		<string>uni0DA6</string>
		<string>uni0DA7</string>
		<string>uni0DA8</string>
		<string>uni0DA9</string>
		<string>uni0DAA</string>
		<string>uni0DAB</string>
		<string>uni0DAC</string>
		<string>uni0DAD</string>
		<string>uni0DAE</string>
		<string>uni0DAF</string>
		<string>uni0DB0</string>
		<string>uni0DB1</string>
		<string>uni0DB3</string>
		<string>uni0DB4</string>
		<string>uni0DB5</string>
		<string>uni0DB6</string>
		<string>uni0DB7</string>
		<string>uni0DB8</string>
		<string>uni0DB9</string>
		<string>uni0DBA</string>
		<string>uni0DBB</string>
		<string>uni0DBD</string>
		<string>uni0DC0</string>
		<string>uni0DC1</string>
		<string>uni0DC2</string>
		<string>uni0DC3</string>
		<string>uni0DC4</string>
		<string>uni0DC5</string>
		<string>uni0DC6</string>
		<string>snK_VA</string>
		<string>snK_SSA</string>
		<string>snG_DHA</string>
		<string>snNY_CA</string>
		<string>snTT_TTHA</string>
		<string>snT_THA</string>
		<string>snT_VA</string>
		<string>snD_DHA</string>
		<string>snD_VA</string>
		<string>snN_THA</string>
		<string>snN_DA</string>
		<string>snN_DHA</string>
		<string>snN_VA</string>
		<string>snAnusvara</string>
		<string>snVisarga</string>
		<string>uni0DCA</string>
		<string>uni0DF4</string>
		<string>.notdef</string>
		<string>NULL</string>
		<string>CR</string>
		<string>space</string>
		<string>danda</string>
		<string>doubledanda</string>
		<string>indianrupee</string>
		<string>uni200C</string>
		<string>uni200D</string>
		<string>dottedcircle</string>
		<string>ITF</string>
		<string>snReph</string>
		<string>snYAc2</string>
		<string>snRAc2</string>
		<string>snRA_mAE</string>
		<string>snRA_mAAE</string>
		<string>snKA_Virama</string>
		<string>snKHA_Virama</string>
		<string>snGA_Virama</string>
		<string>snGHA_Virama</string>
		<string>snNGA_Virama</string>
		<string>snNNGA_Virama</string>
		<string>snCA_Virama</string>
		<string>snCHA_Virama</string>
		<string>snJA_Virama</string>
		<string>snJHA_Virama</string>
		<string>snNYA_Virama</string>
		<string>snJNYA_Virama</string>
		<string>snNYJA_Virama</string>
		<string>snTTA_Virama</string>
		<string>snTTHA_Virama</string>
		<string>snDDA_Virama</string>
		<string>snDDHA_Virama</string>
		<string>snNNA_Virama</string>
		<string>snNNDDA_Virama</string>
		<string>snTA_Virama</string>
		<string>snTHA_Virama</string>
		<string>snDA_Virama</string>
		<string>snDHA_Virama</string>
		<string>snNA_Virama</string>
		<string>snNDA_Virama</string>
		<string>snPA_Virama</string>
		<string>snPHA_Virama</string>
		<string>snBA_Virama</string>
		<string>snBHA_Virama</string>
		<string>snMA_Virama</string>
		<string>snMBA_Virama</string>
		<string>snYA_Virama</string>
		<string>snRA_Virama</string>
		<string>snLA_Virama</string>
		<string>snVA_Virama</string>
		<string>snSHA_Virama</string>
		<string>snSSA_Virama</string>
		<string>snSA_Virama</string>
		<string>snHA_Virama</string>
		<string>snLLA_Virama</string>
		<string>snFA_Virama</string>
		<string>snK_VA_Virama</string>
		<string>snK_SSA_Virama</string>
		<string>snG_DHA_Virama</string>
		<string>snNY_CA_Virama</string>
		<string>snTT_TTHA_Virama</string>
		<string>snT_THA_Virama</string>
		<string>snT_VA_Virama</string>
		<string>snD_DHA_Virama</string>
		<string>snD_VA_Virama</string>
		<string>snN_THA_Virama</string>
		<string>snN_DA_Virama</string>
		<string>snN_DHA_Virama</string>
		<string>snN_VA_Virama</string>
		<string>snKA_mI</string>
		<string>snKHA_mI</string>
		<string>snGA_mI</string>
		<string>snGHA_mI</string>
		<string>snNGA_mI</string>
		<string>snNNGA_mI</string>
		<string>snCA_mI</string>
		<string>snCHA_mI</string>
		<string>snJA_mI</string>
		<string>snJHA_mI</string>
		<string>snNYA_mI</string>
		<string>snJNYA_mI</string>
		<string>snNYJA_mI</string>
		<string>snTTA_mI</string>
		<string>snTTHA_mI</string>
		<string>snDDA_mI</string>
		<string>snDDHA_mI</string>
		<string>snNNA_mI</string>
		<string>snNNDDA_mI</string>
		<string>snTA_mI</string>
		<string>snTHA_mI</string>
		<string>snDA_mI</string>
		<string>snDHA_mI</string>
		<string>snNA_mI</string>
		<string>snNDA_mI</string>
		<string>snPA_mI</string>
		<string>snPHA_mI</string>
		<string>snBA_mI</string>
		<string>snBHA_mI</string>
		<string>snMA_mI</string>
		<string>snMBA_mI</string>
		<string>snYA_mI</string>
		<string>snRA_mI</string>
		<string>snLA_mI</string>
		<string>snVA_mI</string>
		<string>snSHA_mI</string>
		<string>snSSA_mI</string>
		<string>snSA_mI</string>
		<string>snHA_mI</string>
		<string>snLLA_mI</string>
		<string>snFA_mI</string>
		<string>snK_VA_mI</string>
		<string>snK_SSA_mI</string>
		<string>snG_DHA_mI</string>
		<string>snNY_CA_mI</string>
		<string>snTT_TTHA_mI</string>
		<string>snT_THA_mI</string>
		<string>snT_VA_mI</string>
		<string>snD_DHA_mI</string>
		<string>snD_VA_mI</string>
		<string>snN_THA_mI</string>
		<string>snN_DA_mI</string>
		<string>snN_DHA_mI</string>
		<string>snN_VA_mI</string>
		<string>snKA_mII</string>
		<string>snKHA_mII</string>
		<string>snGA_mII</string>
		<string>snGHA_mII</string>
		<string>snNGA_mII</string>
		<string>snNNGA_mII</string>
		<string>snCA_mII</string>
		<string>snCHA_mII</string>
		<string>snJA_mII</string>
		<string>snJHA_mII</string>
		<string>snNYA_mII</string>
		<string>snJNYA_mII</string>
		<string>snNYJA_mII</string>
		<string>snTTA_mII</string>
		<string>snTTHA_mII</string>
		<string>snDDA_mII</string>
		<string>snDDHA_mII</string>
		<string>snNNA_mII</string>
		<string>snNNDDA_mII</string>
		<string>snTA_mII</string>
		<string>snTHA_mII</string>
		<string>snDA_mII</string>
		<string>snDHA_mII</string>
		<string>snNA_mII</string>
		<string>snNDA_mII</string>
		<string>snPA_mII</string>
		<string>snPHA_mII</string>
		<string>snBA_mII</string>
		<string>snBHA_mII</string>
		<string>snMA_mII</string>
		<string>snMBA_mII</string>
		<string>snYA_mII</string>
		<string>snRA_mII</string>
		<string>snLA_mII</string>
		<string>snVA_mII</string>
		<string>snSHA_mII</string>
		<string>snSSA_mII</string>
		<string>snSA_mII</string>
		<string>snHA_mII</string>
		<string>snLLA_mII</string>
		<string>snFA_mII</string>
		<string>snK_VA_mII</string>
		<string>snK_SSA_mII</string>
		<string>snG_DHA_mII</string>
		<string>snNY_CA_mII</string>
		<string>snTT_TTHA_mII</string>
		<string>snT_THA_mII</string>
		<string>snT_VA_mII</string>
		<string>snD_DHA_mII</string>
		<string>snD_VA_mII</string>
		<string>snN_THA_mII</string>
		<string>snN_DA_mII</string>
		<string>snN_DHA_mII</string>
		<string>snN_VA_mII</string>
		<string>snKA_mU</string>
		<string>snKHA_mU</string>
		<string>snGA_mU</string>
		<string>snGHA_mU</string>
		<string>snNGA_mU</string>
		<string>snNNGA_mU</string>
		<string>snCA_mU</string>
		<string>snCHA_mU</string>
		<string>snJA_mU</string>
		<string>snJHA_mU</string>
		<string>snNYA_mU</string>
		<string>snJNYA_mU</string>
		<string>snNYJA_mU</string>
		<string>snTTA_mU</string>
		<string>snTTHA_mU</string>
		<string>snDDA_mU</string>
		<string>snDDHA_mU</string>
		<string>snNNA_mU</string>
		<string>snNNDDA_mU</string>
		<string>snTA_mU</string>
		<string>snTHA_mU</string>
		<string>snDA_mU</string>
		<string>snDHA_mU</string>
		<string>snNA_mU</string>
		<string>snNDA_mU</string>
		<string>snPA_mU</string>
		<string>snPHA_mU</string>
		<string>snBA_mU</string>
		<string>snBHA_mU</string>
		<string>snMA_mU</string>
		<string>snMBA_mU</string>
		<string>snYA_mU</string>
		<string>snRA_mU</string>
		<string>snLA_mU</string>
		<string>snVA_mU</string>
		<string>snSHA_mU</string>
		<string>snSSA_mU</string>
		<string>snSA_mU</string>
		<string>snHA_mU</string>
		<string>snLLA_mU</string>
		<string>snFA_mU</string>
		<string>snK_VA_mU</string>
		<string>snK_SSA_mU</string>
		<string>snG_DHA_mU</string>
		<string>snNY_CA_mU</string>
		<string>snTT_TTHA_mU</string>
		<string>snT_THA_mU</string>
		<string>snT_VA_mU</string>
		<string>snD_DHA_mU</string>
		<string>snD_VA_mU</string>
		<string>snN_THA_mU</string>
		<string>snN_DA_mU</string>
		<string>snN_DHA_mU</string>
		<string>snN_VA_mU</string>
		<string>snKA_mUU</string>
		<string>snKHA_mUU</string>
		<string>snGA_mUU</string>
		<string>snGHA_mUU</string>
		<string>snNGA_mUU</string>
		<string>snNNGA_mUU</string>
		<string>snCA_mUU</string>
		<string>snCHA_mUU</string>
		<string>snJA_mUU</string>
		<string>snJHA_mUU</string>
		<string>snNYA_mUU</string>
		<string>snJNYA_mUU</string>
		<string>snNYJA_mUU</string>
		<string>snTTA_mUU</string>
		<string>snTTHA_mUU</string>
		<string>snDDA_mUU</string>
		<string>snDDHA_mUU</string>
		<string>snNNA_mUU</string>
		<string>snNNDDA_mUU</string>
		<string>snTA_mUU</string>
		<string>snTHA_mUU</string>
		<string>snDA_mUU</string>
		<string>snDHA_mUU</string>
		<string>snNA_mUU</string>
		<string>snNDA_mUU</string>
		<string>snPA_mUU</string>
		<string>snPHA_mUU</string>
		<string>snBA_mUU</string>
		<string>snBHA_mUU</string>
		<string>snMA_mUU</string>
		<string>snMBA_mUU</string>
		<string>snYA_mUU</string>
		<string>snRA_mUU</string>
		<string>snLA_mUU</string>
		<string>snVA_mUU</string>
		<string>snSHA_mUU</string>
		<string>snSSA_mUU</string>
		<string>snSA_mUU</string>
		<string>snHA_mUU</string>
		<string>snLLA_mUU</string>
		<string>snFA_mUU</string>
		<string>snK_VA_mUU</string>
		<string>snK_SSA_mUU</string>
		<string>snG_DHA_mUU</string>
		<string>snNY_CA_mUU</string>
		<string>snTT_TTHA_mUU</string>
		<string>snT_THA_mUU</string>
		<string>snT_VA_mUU</string>
		<string>snD_DHA_mUU</string>
		<string>snD_VA_mUU</string>
		<string>snN_THA_mUU</string>
		<string>snN_DA_mUU</string>
		<string>snN_DHA_mUU</string>
		<string>snN_VA_mUU</string>
		<string>snK_RA</string>
		<string>snKH_RA</string>
		<string>snG_RA</string>
		<string>snGH_RA</string>
		<string>snNG_RA</string>
		<string>snNNG_RA</string>
		<string>snC_RA</string>
		<string>snCH_RA</string>
		<string>snJ_RA</string>
		<string>snJH_RA</string>
		<string>snNY_RA</string>
		<string>snJNY_RA</string>
		<string>snNYJ_RA</string>
		<string>snTT_RA</string>
		<string>snTTH_RA</string>
		<string>snDD_RA</string>
		<string>snDDH_RA</string>
		<string>snNN_RA</string>
		<string>snNNDD_RA</string>
		<string>snT_RA</string>
		<string>snTH_RA</string>
		<string>snD_RA</string>
		<string>snDH_RA</string>
		<string>snN_RA</string>
		<string>snND_RA</string>
		<string>snP_RA</string>
		<string>snPH_RA</string>
		<string>snB_RA</string>
		<string>snBH_RA</string>
		<string>snM_RA</string>
		<string>snMB_RA</string>
		<string>snY_RA</string>
		<string>snR_RA</string>
		<string>snL_RA</string>
		<string>snV_RA</string>
		<string>snSH_RA</string>
		<string>snSS_RA</string>
		<string>snS_RA</string>
		<string>snH_RA</string>
		<string>snLL_RA</string>
		<string>snF_RA</string>
		<string>snK_V_RA</string>
		<string>snK_SS_RA</string>
		<string>snG_DH_RA</string>
		<string>snNY_C_RA</string>
		<string>snTT_TTH_RA</string>
		<string>snT_TH_RA</string>
		<string>snT_V_RA</string>
		<string>snD_DH_RA</string>
		<string>snD_V_RA</string>
		<string>snN_TH_RA</string>
		<string>snN_D_RA</string>
		<string>snN_DH_RA</string>
		<string>snN_V_RA</string>
	</array>
	<key>com.schriftgestaltung.useNiceNames</key>
	<false/>
	<key>com.schriftgestaltung.weightValue</key>
	<integer>100</integer>
	<key>public.glyphOrder</key>
	<array>
		<string>uni0D85</string>
		<string>uni0D86</string>
		<string>uni0D87</string>
		<string>uni0D88</string>
		<string>uni0D89</string>
		<string>uni0D8A</string>
		<string>uni0D8B</string>
		<string>uni0D8C</string>
		<string>uni0D8D</string>
		<string>uni0D8E</string>
		<string>uni0D8F</string>
		<string>uni0D90</string>
		<string>uni0D91</string>
		<string>uni0D92</string>
		<string>uni0D93</string>
		<string>uni0D94</string>
		<string>uni0D95</string>
		<string>uni0D96</string>
		<string>uni0DCF</string>
		<string>uni0DD0</string>
		<string>uni0DD1</string>
		<string>uni0DD2</string>
		<string>uni0DD3</string>
		<string>uni0DD4</string>
		<string>uni0DD6</string>
		<string>uni0DD8</string>
		<string>uni0DF2</string>
		<string>uni0DDF</string>
		<string>uni0DF3</string>
		<string>uni0DD9</string>
		<string>uni0DDA</string>
		<string>uni0DDB</string>
		<string>uni0DDC</string>
		<string>uni0DDD</string>
		<string>uni0DDE</string>
		<string>uni0D9A</string>
		<string>uni0D9B</string>
		<string>uni0D9C</string>
		<string>uni0D9D</string>
		<string>uni0D9E</string>
		<string>uni0D9F</string>
		<string>uni0DA0</string>
		<string>uni0DA1</string>
		<string>uni0DA2</string>
		<string>uni0DA3</string>
		<string>uni0DA4</string>
		<string>uni0DA5</string>
		<string>uni0DA6</string>
		<string>uni0DA7</string>
		<string>uni0DA8</string>
		<string>uni0DA9</string>
		<string>uni0DAA</string>
		<string>uni0DAB</string>
		<string>uni0DAC</string>
		<string>uni0DAD</string>
		<string>uni0DAE</string>
		<string>uni0DAF</string>
		<string>uni0DB0</string>
		<string>uni0DB1</string>
		<string>uni0DB3</string>
		<string>uni0DB4</string>
		<string>uni0DB5</string>
		<string>uni0DB6</string>
		<string>uni0DB7</string>
		<string>uni0DB8</string>
		<string>uni0DB9</string>
		<string>uni0DBA</string>
		<string>uni0DBB</string>
		<string>uni0DBD</string>
		<string>uni0DC0</string>
		<string>uni0DC1</string>
		<string>uni0DC2</string>
		<string>uni0DC3</string>
		<string>uni0DC4</string>
		<string>uni0DC5</string>
		<string>uni0DC6</string>
		<string>snK_SSA</string>
		<string>uni0DCA</string>
		<string>uni0DF4</string>
		<string>space</string>
		<string>uni200C</string>
		<string>uni200D</string>
		<string>snReph</string>
		<string>snYAc2</string>
		<string>snRAc2</string>
		<string>snRA_mAE</string>
		<string>snRA_mAAE</string>
		<string>snKA_Virama</string>
		<string>snKHA_Virama</string>
		<string>snGA_Virama</string>
		<string>snGHA_Virama</string>
		<string>snNGA_Virama</string>
		<string>snNNGA_Virama</string>
		<string>snCA_Virama</string>
		<string>snCHA_Virama</string>
		<string>snJA_Virama</string>
		<string>snJHA_Virama</string>
		<string>snNYA_Virama</string>
		<string>snJNYA_Virama</string>
		<string>snNYJA_Virama</string>
		<string>snTTA_Virama</string>
		<string>snTTHA_Virama</string>
		<string>snDDA_Virama</string>
		<string>snDDHA_Virama</string>
		<string>snNNA_Virama</string>
		<string>snNNDDA_Virama</string>
		<string>snTA_Virama</string>
		<string>snTHA_Virama</string>
		<string>snDA_Virama</string>
		<string>snDHA_Virama</string>
		<string>snNA_Virama</string>
		<string>snNDA_Virama</string>
		<string>snPA_Virama</string>
		<string>snPHA_Virama</string>
		<string>snBA_Virama</string>
		<string>snBHA_Virama</string>
		<string>snMA_Virama</string>
		<string>snMBA_Virama</string>
		<string>snYA_Virama</string>
		<string>snRA_Virama</string>
		<string>snLA_Virama</string>
		<string>snVA_Virama</string>
		<string>snSHA_Virama</string>
		<string>snSSA_Virama</string>
		<string>snSA_Virama</string>
		<string>snHA_Virama</string>
		<string>snLLA_Virama</string>
		<string>snFA_Virama</string>
		<string>snK_SSA_Virama</string>
		<string>snKHA_mI</string>
		<string>snNGA_mI</string>
		<string>snCA_mI</string>
		<string>snCHA_mI</string>
		<string>snJA_mI</string>
		<string>snJHA_mI</string>
		<string>snNYJA_mI</string>
		<string>snTTA_mI</string>
		<string>snTTHA_mI</string>
		<string>snDDA_mI</string>
		<string>snDDHA_mI</string>
		<string>snNNA_mI</string>
		<string>snNNDDA_mI</string>
		<string>snTHA_mI</string>
		<string>snDHA_mI</string>
		<string>snPHA_mI</string>
		<string>snBA_mI</string>
		<string>snMA_mI</string>
		<string>snMBA_mI</string>
		<string>snRA_mI</string>
		<string>snLA_mI</string>
		<string>snVA_mI</string>
		<string>snLLA_mI</string>
		<string>snKHA_mII</string>
		<string>snNGA_mII</string>
		<string>snCA_mII</string>
		<string>snCHA_mII</string>
		<string>snJA_mII</string>
		<string>snJHA_mII</string>
		<string>snNYJA_mII</string>
		<string>snTTA_mII</string>
		<string>snTTHA_mII</string>
		<string>snDDA_mII</string>
		<string>snDDHA_mII</string>
		<string>snNNDDA_mII</string>
		<string>snTHA_mII</string>
		<string>snDHA_mII</string>
		<string>snPHA_mII</string>
		<string>snBA_mII</string>
		<string>snMA_mII</string>
		<string>snMBA_mII</string>
		<string>snRA_mII</string>
		<string>snVA_mII</string>
		<string>snLLA_mII</string>
		<string>snKA_mU</string>
		<string>snKHA_mU</string>
		<string>snGA_mU</string>
		<string>snGHA_mU</string>
		<string>snNGA_mU</string>
		<string>snNNGA_mU</string>
		<string>snCA_mU</string>
		<string>snCHA_mU</string>
		<string>snJA_mU</string>
		<string>snJHA_mU</string>
		<string>snNYA_mU</string>
		<string>snJNYA_mU</string>
		<string>snNYJA_mU</string>
		<string>snTTA_mU</string>
		<string>snTTHA_mU</string>
		<string>snDDA_mU</string>
		<string>snDDHA_mU</string>
		<string>snNNA_mU</string>
		<string>snNNDDA_mU</string>
		<string>snTA_mU</string>
		<string>snTHA_mU</string>
		<string>snDA_mU</string>
		<string>snDHA_mU</string>
		<string>snNA_mU</string>
		<string>snNDA_mU</string>
		<string>snPA_mU</string>
		<string>snPHA_mU</string>
		<string>snBA_mU</string>
		<string>snBHA_mU</string>
		<string>snMA_mU</string>
		<string>snMBA_mU</string>
		<string>snYA_mU</string>
		<string>snRA_mU</string>
		<string>snLA_mU</string>
		<string>snVA_mU</string>
		<string>snSHA_mU</string>
		<string>snSSA_mU</string>
		<string>snSA_mU</string>
		<string>snHA_mU</string>
		<string>snLLA_mU</string>
		<string>snFA_mU</string>
		<string>snK_SSA_mU</string>
		<string>snKA_mUU</string>
		<string>snKHA_mUU</string>
		<string>snGA_mUU</string>
		<string>snGHA_mUU</string>
		<string>snNGA_mUU</string>
		<string>snNNGA_mUU</string>
		<string>snCA_mUU</string>
		<string>snCHA_mUU</string>
		<string>snJA_mUU</string>
		<string>snJHA_mUU</string>
		<string>snNYA_mUU</string>
		<string>snJNYA_mUU</string>
		<string>snNYJA_mUU</string>
		<string>snTTA_mUU</string>
		<string>snTTHA_mUU</string>
		<string>snDDA_mUU</string>
		<string>snDDHA_mUU</string>
		<string>snNNA_mUU</string>
		<string>snNNDDA_mUU</string>
		<string>snTA_mUU</string>
		<string>snTHA_mUU</string>
		<string>snDA_mUU</string>
		<string>snDHA_mUU</string>
		<string>snNA_mUU</string>
		<string>snNDA_mUU</string>
		<string>snPA_mUU</string>
		<string>snPHA_mUU</string>
		<string>snBA_mUU</string>
		<string>snBHA_mUU</string>
		<string>snMA_mUU</string>
		<string>snMBA_mUU</string>
		<string>snYA_mUU</string>
		<string>snRA_mUU</string>
		<string>snLA_mUU</string>
		<string>snVA_mUU</string>
		<string>snSHA_mUU</string>
		<string>snSSA_mUU</string>
		<string>snSA_mUU</string>
		<string>snHA_mUU</string>
		<string>snLLA_mUU</string>
		<string>snFA_mUU</string>
		<string>snK_SSA_mUU</string>
		<string>snK_RA</string>
		<string>snKH_RA</string>
		<string>snG_RA</string>
		<string>snGH_RA</string>
		<string>snNNG_RA</string>
		<string>snC_RA</string>
		<string>snCH_RA</string>
		<string>snJ_RA</string>
		<string>snNY_RA</string>
		<string>snJNY_RA</string>
		<string>snNYJ_RA</string>
		<string>snTT_RA</string>
		<string>snTTH_RA</string>
		<string>snDDH_RA</string>
		<string>snNN_RA</string>
		<string>snT_RA</string>
		<string>snD_RA</string>
		<string>snN_RA</string>
		<string>snND_RA</string>
		<string>snBH_RA</string>
		<string>snM_RA</string>
		<string>snY_RA</string>
		<string>snV_RA</string>
		<string>snSH_RA</string>
		<string>snSS_RA</string>
		<string>snS_RA</string>
		<string>snH_RA</string>
		<string>snF_RA</string>
		<string>snK_SS_RA</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>period</string>
		<string>comma</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>exclam</string>
		<string>question</string>
		<string>bullet</string>
		<string>slash</string>
		<string>backslash</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>uni0D82</string>
		<string>snmAA_Virama</string>
		<string>uni0D83</string>
		<string>snDD_RA_mI</string>
		<string>snDD_RA_mII</string>
		<string>snSH_RA_mI</string>
		<string>snSH_RA_mII</string>
		<string>snTT_RA_mI</string>
		<string>snTT_RA_mII</string>
	</array>
</dict>
</plist>
